.drop {
    position: relative;
    display: flex;
    border: 3px dashed rgb(92, 89, 89);
    justify-content: space-around;
    align-items: center;
    border-radius: .75em;
  }
.file[type="file"] {
  visibility: hidden;
  position: absolute;
}
.label {
  border: 3px solid rgb(58, 58, 58);
  border-radius: .65em;
  padding: .5em 1.2em;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
  
.message {
  display: block;
  color: rgb(139, 139, 139);
  font-size: 23px;
  pointer-events: none;
}