.loader {
    position: relative;
    display: grid;
    place-items: center;
    height: 89vh;
    width: 100%;
    &::before{
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      top: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 1em;
    }
  }
  // 
  // Space used indicator
  
  .space-used {
    color: rgb(228, 228, 228);
  }