.analitics {
    display: flex;
    justify-content: space-between;
    &-main {
      flex: 4 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-helpers{
      flex: 1 0;
    }
  }