@import "../../styles/vars.scss";

.navigation {
    display: block;
    background-color: $bg-panels;
    position: fixed;
    top: $master-panel-height;
    height: $nav-panel-height;
    width: $nav-panel-width;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
    }
  }