
.file-item {
    &__delete {
      display: inline-flex;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }
  .my-files {
    &__list {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
    }
  }