.loader {
    position: relative;
    display: grid;
    place-items: center;
    height: 89vh;
    width: 100%;
  }
.loader::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 1em;
}