@import "../../styles/vars.scss";

.msp {
    position: fixed;
    height: $master-panel-height;
    width: $master-panel-width;
    background-color: $bg-panels;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    &--actions {
      display: flex;
      ul {
        margin: 0 10px;
        padding: 0;
      }
      li {
        list-style-type: none;
      }
    }
  }